body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100px;
    height: 100px;
}

.main-heading {
    position: absolute;
    translate: 0px -20px;

    font-size: 36px;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.secondary-heading {
    position: absolute;
    translate: 0px 30px;

    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 12%;
}


.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e4e4e4;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, opacity 0.1s ease, scale 0.1s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border: solid;
    box-sizing: border-box;
    border-width: 0px;
    border-color: #f0f0f0;

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f0f0f0;
}

.number {
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-color: white;
    text-shadow: 2px 2px 0px #392f2f;
}

.series-title {
    position: absolute;
    text-align: center;
    width: 100px;
    opacity: 0;

    color: white;
    font-size: 14px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;

    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: white;
    text-shadow: 1px 1px 0px #392f2f;
}

/* Position each circle evenly around the container */
/* .circle:nth-child(3) { transform:  rotate(0deg) translate(240px) rotate(-0deg); }
.circle:nth-child(4) { transform:  rotate(30deg) translate(240px) rotate(-30deg); }
.circle:nth-child(5) { transform:  rotate(60deg) translate(240px) rotate(-60deg); }
.circle:nth-child(6) { transform:  rotate(90deg) translate(240px) rotate(-90deg); }
.circle:nth-child(7) { transform:  rotate(120deg) translate(240px) rotate(-120deg); }
.circle:nth-child(8) { transform:  rotate(150deg) translate(240px) rotate(-150deg); }
.circle:nth-child(9) { transform:  rotate(180deg) translate(240px) rotate(-180deg); }
.circle:nth-child(10) { transform:  rotate(210deg) translate(240px) rotate(-210deg); }
.circle:nth-child(11) { transform:  rotate(240deg) translate(240px) rotate(-240deg); }
.circle:nth-child(12) { transform:  rotate(270deg) translate(240px) rotate(-270deg); }
.circle:nth-child(1) { transform:  rotate(300deg) translate(240px) rotate(-300deg); }
.circle:nth-child(2) { transform:  rotate(330deg) translate(240px) rotate(-330deg); } */
.circle:nth-child(3) { transform:  rotate(0deg) translate(240px) rotate(-0deg); }
.circle:nth-child(4) { transform:  rotate(36deg) translate(240px) rotate(-36deg); }
.circle:nth-child(5) { transform:  rotate(72deg) translate(240px) rotate(-72deg); }
.circle:nth-child(6) { transform:  rotate(108deg) translate(240px) rotate(-108deg); }
.circle:nth-child(7) { transform:  rotate(144deg) translate(240px) rotate(-144deg); }
.circle:nth-child(8) { transform:  rotate(180deg) translate(240px) rotate(-180deg); }
.circle:nth-child(9) { transform:  rotate(216deg) translate(240px) rotate(-216deg); }
.circle:nth-child(10) { transform:  rotate(252deg) translate(240px) rotate(-252deg); }
.circle:nth-child(1) { transform:  rotate(288deg) translate(240px) rotate(-288deg); }
.circle:nth-child(2) { transform:  rotate(324deg) translate(240px) rotate(-324deg); }

/* Hover effect */
.circle:hover {
    transform: translate(0%, 0%) scale(7);
}


#circle1 { background-image: url('img_waterloo_bridge/Waterloo\ Bridge\ Effect\ of\ Sunlight\ in\ the\ Fog_1903.png'); }
#circle2 { background-image: url('img_vetheuil/1933.1161\ -\ Vétheuil.jpg'); }
#circle3 { background-image: url('img_thames_bridge/Charing\ Cross\ Bridge\ Fog\ on\ the\ Thames_1903.png');}
#circle4 { background-image: url('img_stacks_of_wheat/Grainstacks_1890.png'); }
#circle5 { background-image: url('img_saint_lazare/1336px-Claude_Monet_-_The_Gare_Saint-Lazare\,_Arrival_of_a_Train.jpg'); }
#circle6 { background-image: url('img_rouen_cathedral/Rouen\ Cathedral\,\ Sunlight_1894_NGA-DC.png'); }
#circle7 { background-image: url('img_poplars/Poplars\ at\ Giverny_1887.png'); }
#circle8 { background-image: url('img_japanese_bridge/1933.441\ -\ Water\ Lily\ Pond.jpg'); }
#circle9 { background-image: url('img_houses_of_parliament/image8-1.jpg'); }
#circle10 { background-image: url('img_etretat_cliff/Cliff\ and\ Porte\ d\'Aval\ by\ Stormy\ Weather_1883_Museum\ of\ Montserrat_Barcelona\,\ Spain.png'); }