/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* --paragraph-font-family: Roboto-Regular, sans-serif;
  --paragraph-font-size: 16px;
  --paragraph-line-height: 30px;
  --paragraph-font-weight: 400;
  --paragraph-font-style: normal;
  --card-abstract-font-family: Roboto-Regular, sans-serif;
  --card-abstract-font-size: 11px;
  --card-abstract-line-height: 18px;
  --card-abstract-font-weight: 400;
  --card-abstract-font-style: normal;
  --card-link-font-family: Roboto-Regular, sans-serif;
  --card-link-font-size: 12px;
  --card-link-line-height: 24px;
  --card-link-font-weight: 400;
  --card-link-font-style: normal;
  --card-title-font-family: Roboto-Regular, sans-serif;
  --card-title-font-size: 16px;
  --card-title-line-height: 24px;
  --card-title-font-weight: 400;
  --card-title-font-style: normal;
  --timestamp-font-family: Roboto-Regular, sans-serif;
  --timestamp-font-size: 12px;
  --timestamp-line-height: normal;
  --timestamp-font-weight: 400;
  --timestamp-font-style: normal; */

  /* Effects */
}
